<ion-view>
<ion-content class="home">
<div>
  <p class="home-title center-align">APP NAME</p>
  <p class="home-subtitle center-align"> ....</p>
</div>
<div class="card" ng-hide="user">
  <div class="item item-body center-align">
    <p class="home-desc">
     </a>Social login/signup with Facebook.
    </p>
  </div>

  
  
  </div>
<div ng-hide="user === undefined" ng-controller="AccountController as account">
  <div class="list card" ng-show="user">
    <div class="item item-avatar profile">
      <img ng-src="{{ user.profileImg }}">
      <h2 class="profile-user">Welcome, {{ user.displayName }}.</h2>
    </div>
  </div>

  <div ng-hide="user">
    <div>
      <button ng-click="account.login()" class="button button-full bold fb-button">
        <i class="ion-social-facebook fb-icon"></i> Log in with Facebook
      </button>
    </div>
    </div>
    <div class="center-align">
      <b class="or">or</b>
  </div>
    <div>
      <button ui-sref="tasks" class="button button-full button-dark ">Continue as guest</button>
    </div>
    
  <div ng-show="user" >
    <button ui-sref="tasks" class="button button-full button-dark bold">My Tasks</button>
    <button ng-click="account.logout()" class="button button-full button-stable bold">Logout</button>
  </div>
</div>
</ion-content>
</ion-view>
